---
name: JetHome JetHub GPIO2MQTT
version: dev
slug: jethub-mqtt-io
description: GPIO to MQTT bridge for JetHome JetHub controllers with Home Assistant autodiscovery
url: https://github.com/jethome-hassio-addons/addon-jethub-mqtt-io
init: false
hassio_api: true
services:
  - mqtt:need
arch:
  - aarch64
  - amd64
homeassistant: "2024.1.0"
gpio: true
apparmor: false

options:
  log_level: info
  jethub_model: auto
  use_module_config: false
  custom_config: ""
  mqtt:
    client_id: jethub-mqtt-io
    topic_prefix: jethub-mqtt-io
    keepalive: 60
    qos: 1

schema:
  log_level: list(trace|debug|info|warning|error)
  jethub_model: list(auto|jethub-d1|jethub-d2|jethub-h1|manual)
  use_module_config: bool
  custom_config: str?
  mqtt:
    host: str?
    port: int(1024,65535)?
    user: str?
    password: str?
    client_id: str
    topic_prefix: str
    keepalive: int(5,3600)?
    qos: int(0,2)?
